
<!doctype html>
<html>
    <head>
	      <title>Sandbox - YAACS</title>

	      <meta name="viewport" content="width=device-width, initial-scale=1.0">
	      <meta charset="UTF-8">

	      <!-- ** external css -->
	      <link href="/css-libs/cytoscape-context-menus.css" rel="stylesheet">
	      <link href="/css-libs/semantic.min.css" Rel="stylesheet">

	      <!-- ** external js -->
        <script src="/js-libs/jquery-3.3.1.min.js"></script>
	      <script src="/js-libs/knockout-3.4.2.debug.js"></script>
	      <script src="/js-libs/semantic.min.js"></script>
	      <script src="/js-libs/cytoscape.min.js"></script>
	      <script src="/js-libs/cytoscape-cose-bilkent.js"></script>
	      <script src="/js-libs/cola.v3.min.js"></script>
	      <script src="/js-libs/cytoscape-cola.js"></script>

	      <script src="/js-libs/cytoscape-context-menus.js"></script>
	      <script src="/js-libs/cytoscape-automove.js"></script>
        <script src="/js-libs/vue.js"></script>
        <script src="/js-libs/vuex.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <!-- <script src="https://unpkg.com/vuex.js"></script> -->

	      <!-- ** personnal css -->
	      <link href="/custom_styles.css" rel="stylesheet">

        <script>


inert_mols_columns = [
    {css_class: "thirteen wide", title: "Molecule name",
     property: "mol", style:"word-wrap:break-word"},
    {css_class: "two wide", title: "Quantity", property: "qtt"},
    {css_class: "two wide", title: "Ambient", property: "ambient"}
];

active_mols_columns =  [
    {css_class: "thirteen wide", title: "Molecule name",
     property: "mol", style:"word-wrap:break-word"},
    {css_class: "three wide", title: "Quantity", property: "qtt"}
];


        </script>

    </head>

    <!-- * body -->

    <body>
        <div id="sandbox_vue" class="ui container">
	          <!-- left rail -->
	          <div class="ui left rail"
		             style="max-width:100px;padding-right:5px;margin-right:5px">
                <sim-reaction-controls></sim-reaction-controls>
		        </div>

            <div class="ui top fixed menu">
                <a class="item" href="/simulator">Simulator</a>
                <a class="active item">Sandbox</a>
                <a class="item" href="/molbuilder">Molbuilder</a>
            </div>
	          <div class="ui divided grid">

                <div class="centered row">
                    <h1 class="ui header" style="margin-top:5px">SandBox</h1>
                </div>

		            <div class="row"><h2 class="ui horizontal divider header">
		                Bactery view
		            </h2></div>

		            <!-- *** première ligne : contrôles généraux-->
		            <div class="row"  id="sandbox_main">
		                <div class="six wide column">
                        
			                  <div class="ui horizontal buttons">
			                      <button class="ui icon button tooltip" data-bind="click : update"><i class="refresh icon"></i>
				                        <span class="tooltiptext">Use this button after adding a molecule from the MolBuilder</span>
			                      </button>
			                      <div class="ui button tooltip"
				                         data-bind="click:bactVM.reset_sandbox">
				                        Reset
				                        <span class="tooltiptext">Reset sandbox to initial state</span>
			                      </div>
			                      <div>
				                        <label for="sandbox_load" class="ui button tooltip"
				                               id="sandbox_load_button">
				                            Load from file
				                            <span class="tooltiptext">Load sandbox state from a local text file</span>
				                        </label>
				                        <input type="file"
				                               id="sandbox_load"
				                               style="display:none"/>
			                      </div>
			                      <div class="ui button" data-bind="click:save_sandbox">
				                        Save to file
			                      </div>
			                  </div>
                        <sim-general-controls></sim-general-controls>

		                </div>
                    
                    <div class="six wide column">
                    <environment :env="env"></environment>
                    </div>
                    <div class="two wide column">
                        <div class="ui button tooltip"
                             v-on:click="commit_env"
			                       data-bind="click:commit_env">
			                      Commit env.
			                      <span class="tooltiptext">Send modified env constants to the sandbox</span>
			                  </div>
                    </div>
                </div>


		            <!-- *** deuxième ligne : molécules inertes-->
		            <div class="row"
		                 id="bactVM"
		                 data-bind="with:bactVM.inertMolsVM" >
		                <h3 class="ui horizontal divider header">
			                  Inert molecules
		                </h3>
		                <div class="eleven wide column tooltip"
			                   style="max-height:320px;overflow-y:scroll">
			                  <span class="tooltiptext">Click on a molecule for more </span>
			                  <h4 class="ui horizontal divider header">
			                      Molecules list
			                  </h4>
                        <mols-list :mols="$store.state.imols"
                                   :columns="inert_mols_columns"
                                   mol_type="inert">
			                  </mols-list>
                    </div>
		                <div class="five wide column">
                        <inert-mols-controls inline-template>
                            <div>
			                          <h4 class="ui horizontal divider header">
			                              Selected Molecule
			                          </h4>
			                          <div data-bind="text:current_mol_name"></div>
			                          <button class="ui button tooltip"
                                        v-on:click="remove_mol"
                                        v-bind:class="{disabled: disabled}">Remove molecule
			                              <span class="tooltiptext">Definitely removes the molecule from the bactery</span>
			                          </button>
			                          <div class="ui action input">
			                              <button class="ui button tooltip"
                                            v-on:click="set_mol_quantity"
                                            v-bind:class="{disabled: disabled}">
				                                Set quantity
				                                <span class="big tooltiptext">Set the quantity of molecules in the bactery. <br> Note that molecules can have negative quantity (ugh), but if the quantity is less than 0 then no transition will be launched in a simulation round </span>
			                              </button>
			                              <input placeholder="quantity"
				                                   type="text"
                                           v-bind:class="{disabled: disabled}"
				                                   size="4"
                                           v-model="qtt"/>
			                          </div>
			                          <button class="ui icon button tooltip"
                                        v-on:click="send_to_molbuilder"
                                        data-bind="click:$parent.send_to_molbuilder.bind($data)"
                                        v-bind:class="{disabled: disabled}" >
			                              Send to Mol Builder
			                              <span class="big tooltiptext">Initiate the Mol Builder with the selected molecule.<br> Use this to see how a particular Petri net is designed</span>
			                          </button>
                            </div>
                        </inert-mols-controls>
		                </div>
                </div>



		            <!-- *** troisième ligne : molécules actives-->
		            <div class="row">
		                <h3 class="ui horizontal divider header">
			                  Active molecules
		                </h3>

		                <div class="eleven wide column tooltip"
			                   style="max-height:320px;overflow-y:scroll">
			                  <span class="tooltiptext">Click on a molecule for more </span>
			                  <h4 class="ui horizontal divider header">
			                      Molecules list
			                  </h4>
                        <mols-list :mols="$store.state.amols"
                                   :columns="active_mols_columns"
                                   mol_type="active"></mols-list>
	                  </div>

		                <div class="five wide column">
                        <active-mols-controls inline-template>
                            <div>
                                <h4 class="ui horizontal divider header">
			                      Selected Molecule
			                          </h4>
                                <div> Specific molecule selection:
                                    <select class="ui dropdown"
                                            v-bind:class="{disabled: disabled}"
                                            v-model="selected_pnet">
                                        <option v-for="pnet_id in pnet_ids"
                                                :value="pnet_id" :key="pnet_id">{{pnet_id}}</option>
                                    </select>
                                </div>
			                          <div>{{mol}}</div>
			                          <button class="ui button tooltip"
                                        v-bind:class="{disabled: disabled}"
				                                data-bind="click:remove_mol">Remove molecule

			                              <span class="tooltiptext">Definitely removes the molecule from the bactery</span>
			                          </button>
                                
			                          <button class="ui icon button tooltip"
                                        v-bind:class="{disabled: disabled}"
                                        data-bind="click:$parent.send_to_molbuilder.bind($data)">
			                              Send to Mol Builder
			                              <span class="big tooltiptext">Initiate the Mol Builder with the selected molecule.<br> Use this to see how a particular Petri net is designed</span>
			                          </button>
                            </div>
                        </active-mols-controls>
		                </div>

		            </div>

		            <!-- *** quatrième ligne -->
		            <h2 class="ui horizontal divider header">
		                Petri Net manipulation
		            </h2>
                <div v-show="$store.state.pnet.pnet" class="row">
		                <!-- **** 1ere colonne : pnet view -->
		                <div class="twelve wide column">
			                  <h4 class="ui horizontal divider header">
			                      Petri Net view
			                  </h4>
                        <pnet-cy inline-template>
			                      <div id="pnet_cy" class="cy big"></div>
                        </pnet-cy>
		                </div>

		                <!-- **** 2eme colonne : pnet informations -->
		                <div class="four wide column">
                        <petri-net-controls inline-template>
                            <div >
			                          <h4 class="ui horizontal divider header">
			                              Petri Net description
			                          </h4>
			                          <div id="longribbon" class="ui orange ribbon medium label" style="min-width:0px">
			                              Select a place or a transition in the graph to display more  information</div>
			                          <div class="ui bulleted list">
                                    <div class="item" v-for="t in desc_texts">{{t}}</div>
			                          </div>
                                
			                          <!-- ***** transition -->
                                <transition></transition> 
			                          <!-- ***** place -->
			                          <place></place>
                                <!-- :place="place" :disabled="place" /> -->
                            </div></petri-net-controls>
		                </div>
		            </div>
                <h2 class="ui horizontal divider header">
                    Reactions
                </h2>
                <div class="row">

                </div>
	          </div>
        </div>
    </body>


    <!-- ** scripts loading  -->
    <script src="/js-libs/FileSaver.min.js"> </script>
    <script src="/utils.js"> </script>
    <script src="/pnet_cytoscape.js"> </script>
    <script src="transition_vue.js"></script>
    <script src="place_vue.js"></script>
    <script src="pnet_vue.js"></script>
    <script src="sandbox_vue.js"></script>

    <!-- <script src="active_molsVM.js"> </script> -->
    <!-- <script src="inert_molsVM.js"> </script> -->
    <!-- <script src="pnetVM.js"> </script> -->
    <!-- <script src="bactVM.js"> </script> -->
    <!-- <script src="sandboxVM.js"> </script> -->
</html>
