{% extends 'base.html'  %}
{% load static %}

{% block scripts_extra %}
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Molecule
    </h1>
    <div id="mol-component"> </div>
  </div>
</section>
<div class="columns is-multiline">
  <div class="column is-four-fitfth">
  <section class="section">
      <div class="container">
        <h1 class="title">
          Petri Net
        </h1>
        <div class="content" id="pnet-component"></div>
      </div>
    </section>
  </div>
  <div class="column is-one-fitfth">
    <section class="section">
      <div class="container">
        <h1 class="title">
          Proteine
        </h1>
        <div class="content" id="prot-component"></div>
      </div>
    </section>
  </div>
</div>
<script type="importmap">
 {
   "imports": {
     "preact": "https://esm.sh/preact@10.12.1",
     "preact/hooks": "https://esm.sh/preact@10.12.1/hooks?external=preact",
     "@preact/signals": "https://esm.sh/@preact/signals@1.1.3?external=preact",
     "htm": "{% static 'js/external/htm_3.1.1.mjs' %}",
     "cytoscape": "{% static 'js/external/cytoscape.esm.min.js' %}",
     "cytoscape-cola": "{% static 'js/external/cytoscape-cola.mjs' %}",
     "cytoscape_utils": "{% static 'js/cytoscape_utils.mjs' %}",
     "cytoscape_pnet": "{% static 'js/cytoscape_pnet.js' %}",
     "md5": "{% static 'js/md5.js' %}",
     "utils": "{% static 'js/utils.mjs' %}",
     "components": "{% static 'js/components.mjs' %}"
   }
 }
</script>

<script type="module">
 import { h, render } from "preact";
 import { signal, effect } from "@preact/signals";
 import { useState, useRef, useEffect } from 'preact/hooks';
 import {setup_pnet_cy} from 'cytoscape_utils';
 import {pnet_to_cytoscape_elements} from 'cytoscape_pnet';
 import { urlSyncedSignals } from 'utils';
 /* import {PnetGraphDisplay} from 'components'; */
 import {html,  makePnetPanels} from 'components';

 const prot = signal([]);
 const pnet = signal(null);
 const [mol] = urlSyncedSignals({
   mol: "",
 })



 // called when mol.value changes
 effect( () => {
   console.log("CHANGE", mol.value)
   fetch(`http://${window.location.host}/mol/`, {
     method: 'POST',
     headers: {
       'Accept': 'application/json',
       'Content-Type': 'application/json'
     },
     body: JSON.stringify({mol: mol.value}),
   }).then(
     response => response.json()
   ).then(
     data => {
       console.log("RECEIVED", data)
       prot.value = data.prot
       pnet.value = data.pnet
     }
   )
 })

 let MolInput = () => {
   const onChange = (event) => {
     const newValue = event.target.value
     mol.value = newValue
     console.log("Changed", mol.value)
   }
   return html`
     <div>
       <textarea class="textarea" value=${mol.value} onInput=${onChange}/>
     </div>
   `
 }

 let AcidDisplay = ({acid}) => {
   const [type, mol, data] = acid
   if (type == "S") {
     return html`
       <li>
         <span class="tag is-white">${mol}</span>
       </li>
     `
   } else {
     const [acid_type, ...params] = data
     /* const params_html = params.map(param => html`<span class="tag is-info">${param}</span>`).join() */
     return html`
       <li>
         <span class="tag is-info">${acid_type}</span>
         ${params.map(param => html`<span class="tag is-primary">${param}</span>`)}
     </li>
         `
   }
 }

  let ProtDisplay = () => {
   return html`
     <ul class="acid-list">
       ${prot.value.map(
        acid => AcidDisplay({acid})
       )}
     </ul>`
 }

 let AcidDisplayBis = ({acid}) => {
   const [type, mol, data] = acid
   if (type == "S") {
     return html`
       <li>
         <span class="tag is-white">${mol}</span>
       </li>
     `
   } else {
     const [acid_type, ...params] = data
     /* const params_html = params.map(param => html`<span class="tag is-info">${param}</span>`).join() */
     return html`
       <li>
         <span class="tag is-info">${acid_type}</span>
         ${params.map(param => html`<span class="tag is-primary">${param}</span>`)}
     </li>
         `
   }
 }

 let ProtDisplayBis = () => {
   let textAreaContent = prot.value.map(([type, mol]) => mol).join("\n")
   console.log("Content", textAreaContent)
   return html`
     <div style="display: flex; flex-direction: row">
       <textarea value="${textAreaContent}" rows=${prot.value.length}/>
      <ul class="acid-list" style="margin-top: 0">
        ${prot.value.map(
          acid => AcidDisplay({acid})
        )}
      </ul>
       </div>
   `
 }

 let AcidDisplayTable = ({acid}) => {
   const [type, mol, data] = acid
   let acid_html = null
   if (type == "S") {
     acid_html = html``
     /* return html`
      *   <tr>
      *     <td><span class="tag is-white">${mol}</span></td>
      *   </tr>
      * ` */
   } else {
     const [acid_type, ...params] = data
     /* const params_html = params.map(param => html`<span class="tag is-info">${param}</span>`).join() */
     let paramToHtml = param => html`<span class="tag is-primary">${param}</span>`
     acid_html = html`
         <span class="tag is-info">${acid_type}</span>
         ${params.map(paramToHtml)}
         `
   }
   console.log("ACID?", acid)
   return html`
     <tr>
       <td><input type="text" value="${mol}" rows=1 /></td>
       <td>${acid_html}</td>
     </tr>
   `
 }

 let ProtDisplayTable = () => {
   return html`
     <table class="acid-list">
       ${prot.value.map(
         acid => AcidDisplayTable({acid})
       )}
     </table>`
 }
 const {PnetGraphPanel, SelectedNodePanel} = makePnetPanels(pnet)

 render(html`<${MolInput} />`, document.getElementById("mol-component"));
 render(html`<${ProtDisplayTable} />`, document.getElementById("prot-component"));
 /* render(html`<${PnetGraphDisplay}  pnetSignal=${pnet} />`, document.getElementById("pnet-component")); */
 render(html`<${PnetGraphPanel} pnetSignal=${pnet} />`, document.getElementById("pnet-component"));
</script>
{% endblock %}
