{% extends 'base.html'  %}
{% load static %}

{% block scripts_extra %}
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Molecule
    </h1>
    <div id="mol-component"> </div>
  </div>
</section>
<div class="columns is-multiline">
  <div class="column is-two-third">
    <section class="section">
      <h1 class="title">
        Petri Net
      </h1>
      <div class="content" id="pnet-component"></div>
    </section>
  </div>
  <div class="column is-one-third">
    <section class="section">
        <h1 class="title">
          Proteine
        </h1>
        <div class="content" id="prot-component"></div>
    </section>
    <section class="section">
      <h1 class="title">
        Acid examples
      </h1>
      <div class="content" id="acid-examples"></div>
    </section>
  </div>
</div>
<script type="importmap">
 {
   "imports": {
     "preact": "https://esm.sh/preact@10.12.1",
     "preact/hooks": "https://esm.sh/preact@10.12.1/hooks?external=preact",
     "@preact/signals": "https://esm.sh/@preact/signals@1.1.3?external=preact",
     "htm": "{% static 'js/external/htm_3.1.1.mjs' %}",
     "cytoscape": "{% static 'js/external/cytoscape.esm.min.js' %}",
     "cytoscape-cola": "{% static 'js/external/cytoscape-cola.mjs' %}",
     "cytoscape_utils": "{% static 'js/cytoscape_utils.mjs' %}",
     "cytoscape_pnet": "{% static 'js/cytoscape_pnet.js' %}",
     "md5": "{% static 'js/md5.js' %}",
     "utils": "{% static 'js/utils.mjs' %}",
     "components": "{% static 'js/components.mjs' %}"
   }
 }
</script>

<script type="module">
 import { h, render } from "preact";
 import { signal, effect } from "@preact/signals";
 import { useState, useRef, useEffect } from 'preact/hooks';
 import {setup_pnet_cy} from 'cytoscape_utils';
 import {pnet_to_cytoscape_elements} from 'cytoscape_pnet';
 import { urlSyncedSignals, cssClass} from 'utils';
 /* import {PnetGraphDisplay} from 'components'; */
 import {html,  makePnetPanels} from 'components';

 const prot = signal([]);
 const pnet = signal(null);
 const [mol] = urlSyncedSignals({
   mol: "",
 })



 // called when mol.value changes
 effect( () => {
   fetch(`http://${window.location.host}/mol/`, {
     method: 'POST',
     headers: {
       'Accept': 'application/json',
       'Content-Type': 'application/json'
     },
     body: JSON.stringify({mol: mol.value}),
   }).then(
     response => response.json()
   ).then(
     data => {
       console.log("RECEIVED", data)
       prot.value = data.prot
       pnet.value = data.pnet
     }
   )
 })

 let MolInput = () => {
   const onChange = (event) => {
     const newValue = event.target.value
     mol.value = newValue
   }
   return html`
     <div>
       <textarea class="textarea" value=${mol.value} onInput=${onChange}/>
     </div>
   `
 }

 let ActionButton = ({action, text}) => {
   return html`
     <button class="button is-small" disabled=${action === null} onClick=${action}>
       <span class="icon is-small">${text}</span></button>
   `
 }


 let AcidDisplay = ({acid}) => {
   const [acid_type, ...params] = acid

   /* console.log("acid", params.length, acid_type, params ) */
   let inner = ""
     if (acid_type === "Place") {
       inner = html`<span class="tag is-info">${acid_type}</span>`
     } else if (acid_type === "Extension") {
       let [[ext_type, ext_params]] = params
       inner = html`
         <span class="tag is-info">Ext</span>
         <span class="tag is-primary">${ext_type.split("_").slice(0, -1).join("_")}</span>
         ${ext_params && html`<span class="tag is-info">${ext_params}</span>`}
       `
     } else {
       /* Transition  */
       let [t_id, [t_type, t_params]] = params
       inner = html`
         <span class="tag is-info">${acid_type[0] + "Arc"}</span>
         <span class="tag is-warning">${t_id}</span>
         <span class="tag is-primary">${t_type.split("_").slice(0, -1).join("_")}</span>
         ${t_params && html`<span class="tag is-info">${t_params.toString()}</span>`}
       `
     }
   return inner
 }

 let AcidDisplayRow = ({acid, moveUp, moveDown, handleChange, remove}) => {
   const [type, molPart, data] = acid
   const [molPartValue, setMolPartValue] = useState(molPart)
   useEffect(
     () => setMolPartValue(molPart),
     [acid]
   )
   let acid_html = null
   if (type == "S") {
     acid_html = html``
   } else {
     acid_html = AcidDisplay({acid: data})
   }
   let handleKeyPress = (e) => {
     if (e.key === "Enter"){
       handleChange(molPartValue)
     }
   }
   return html`
     <div class="card">
       <div class="card-content" style="padding: 0.5rem 0.75rem">
         <div style="display: flex;flex-direction: row">
           <input type="text" value="${molPartValue}"
                  class=${cssClass({"is-warning": molPart != molPartValue}, ["input", "is-small"])}
                  onChange=${(e) => setMolPartValue(e.target.value)}
                  onKeyPress=${handleKeyPress}
                  size="15"/>
             <${ActionButton} action=${moveUp} text="↑" />
             <${ActionButton} action=${moveDown} text="↓" />
             <${ActionButton} action=${remove} text="❌" />
         </div>
         <div>${acid_html}</div>
       </div>
     </div>
   `
 }

 let ProtDisplayTable = () => {
   let move = (idx, idx_swap) => {
     if (idx_swap <= idx ) {throw new Error("move: wrong args")}
     let start = prot.value.slice(0, idx)
     let end = prot.value.slice(idx_swap + 1)
     let newProtArray = [
       ...start,
       prot.value[idx_swap],
       prot.value[idx],
       ...end
     ]
     let newMol = (newProtArray.map( ([_type, mol, ..._]) => mol)).join("")
     mol.value = newMol

   }
   let moveUp = (idx) => {
     if (idx === 0) {return null}
     else {
       return () => { move(idx - 1, idx)}
     }
   }
   let moveDown = (idx) => {
     if (idx === prot.value.length - 1) {return null}
     else{
       return () => { move(idx, idx + 1)}
     }
   }
   let handleChange = (idx) => (newMolPart) => {
     let newMol = prot.value.map( ([_type, molPart, ..._], jdx) => {
       if (idx === jdx) {return newMolPart} else {return molPart}
     }).join("")
     mol.value = newMol
   }
   let remove = (idx) => () => {
     let newProtArray = [
       ...prot.value.slice(0, idx),
       ...prot.value.slice(idx + 1),
     ]
     let newMol = (newProtArray.map( ([_type, mol, ..._]) => mol)).join("")
     mol.value = newMol
   }

   return html`
     <div style="display: flex; flex-direction: column">
       ${prot.value.map(
       (acid, idx) => html`<${AcidDisplayRow} key=${JSON.stringify(acid)} acid=${acid} moveUp=${moveUp(idx)} moveDown=${moveDown(idx)} handleChange=${handleChange(idx)} remove=${remove(idx)} />`
       )}
     </div>`
 }
 const {PnetGraphPanel, SelectedNodePanel} = makePnetPanels(pnet)

 const AcidSelectionItem = ({molPart, acid}) => {
   const add = () => {
     mol.value = molPart + mol.value
   }
   return html`<div><${AcidDisplay} acid=${acid} /></div>`
 }

 const AcidSelectionPanel = () => {
   const [open, setOpen] = useState(true)
   const acidExamples = JSON.parse("{{examples | escapejs}}")
   const acidTypes = ["nodes", "input_arcs", "output_arcs", "extensions"]
   const allAcids = []
   for (let t of acidTypes) {
     for (let [molPart, acid] of acidExamples[t]) {
       allAcids.push({molPart, acid})
     }
   }

   if (!open) {
     return html`<${ActionButton} action=${() => setOpen(!open)} text="▸" />Examples`
   }
   const add = (molPart) => () => {
     mol.value = molPart + mol.value
   }

   return html`<${ActionButton} action=${() => setOpen(!open)} text="▾" />Examples
${allAcids.map(({molPart, acid}) => html`
   <div><${ActionButton} action=${add(molPart)} text="+" /><${AcidDisplay} acid=${acid} /></div>
   `
)}`
 }

 render(html`<${MolInput} />`, document.getElementById("mol-component"));
 render(html`<${ProtDisplayTable} />`, document.getElementById("prot-component"));
 /* render(html`<${PnetGraphDisplay}  pnetSignal=${pnet} />`, document.getElementById("pnet-component")); */
 render(html`<${PnetGraphPanel} pnetSignal=${pnet} />`, document.getElementById("pnet-component"));
 render(html`<${AcidSelectionPanel} />`, document.getElementById("acid-examples"));
</script>
{% endblock %}
